*{
	font-family: 'Maiden Orange', cursive;
	margin: 0;
	padding: 0;
}

head{

}


body{

	display: flex;
	flex-direction: column;
	background: #51D5CC;
}

header{
	display: flex;
	
	background: #51C1E2;
}








aside{
	position: sticky;
    top: 0px;
    background: yellow;
}






main{

	background: #E85078;

}

article{


}

article img{
max-width:300px;

}

footer{

}

@media (max-width: 992px){
	article{
		font-size: 26px;
	}
}